<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194247857483-b2bkjjq0g6t1o7u9i7k4f6bbo03mqq3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194247857483-b2bkjjq0g6t1o7u9i7k4f6bbo03mqq3u</string>
	<key>API_KEY</key>
	<string>AIzaSyDC5upI7A41Lv2GIjmhukJD8EZ37hAdPPU</string>
	<key>GCM_SENDER_ID</key>
	<string>194247857483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Seunghun.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-9e63e</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-9e63e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194247857483:ios:182ca6ee216716bf7e84ce</string>
</dict>
</plist>